*{
    margin: 0;
    padding: 0;
}

/* font family */
/* font-family: 'Open Sans', sans-serif;

font-family: 'Roboto', sans-serif; */

.container{
    max-width: 1270px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

.about h1{
    text-shadow: 2px 0 5px #fff;
    position: relative;
    font-size: 50px;
    color: #e8dfda;
}
.about h1::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 39%;
    height: 4px;
    width: 22%;
    background-color: #e8dfda;
}
.text-start{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: right;
}





/* Start css */

.header-section{
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
}
.logo{
    float: left;
    width: 30%;
}
.logo img{
    width: 100px;
    margin-top: 10px;
}
.header-menu{
    float: right;
    width: 70%;
}
.header-menu ul{
    text-align: right;
}
.header-menu ul li{
    display: inline-block;
    position: relative;
}
.header-menu ul li a{
    display: inline-block;
    color:white;
    background-color: black;
    padding: 0 20px;
    font-size: 25px;
    line-height: 79px;

}
.header-menu ul li::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 18px;
    height: 0;
    width: 0;
    background-color: white;
    transition: .4s;
}
.header-menu ul li:hover::after{
    width: 70%;
    height: 3px;
}


/* DropDown start */


.header-menu ul li ul{
    position: absolute;
    top: 100%;
    left: -20px;
    width: 213px;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: .5s;
}
.header-menu ul li ul li{
    display: block;
    text-align: left;
}
.header-menu ul li ul li a{
    display: block;
}
.header-menu ul li ul li:first-child{
    border-top: 2px solid white;
}
.header-menu ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.header-menu ul li ul li:hover a{
    background-color: white;
    color: black;
}
.header-menu ul li ul li::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 18px;
    height: 0;
    width: 0;
    background-color: black;
    transition: .4s;
}
.header-menu ul li ul li:hover::after{
    width: 40%;
    height: 3px;
}


/* Banner-section */

.banner-section{
    background: url(./image/a0c6042d4612d7adf44692fffac7e082.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 220px 0;
}
.banner-section h1{
   font-size: 50px;
   margin-bottom: 10px;

}
.banner-section h4{
    font-size: 20px;
    margin: 15px 0;
}
.banner-section .btn1{
    display: inline-block;
    background-color: black;
    padding: 15px 20px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black; 
    transition: .4s;    
}
.banner-section .btn1 a{
    color: white;
    font-weight: 700; 
    transition: .4s;  
}
.banner-section .btn1:hover{
    background-color: white;
    color: black;
}
.banner-section .btn1:hover a{
    color: black;
}
.banner-section .btn2{
    display: inline-block;
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    transition: .4s;      
}
.banner-section .btn2 a{
    color: black;
    font-weight: 700;
    transition: .4s;  
}
.banner-section .btn2:hover{
    background-color: black;
    color: white;
}
.banner-section .btn2:hover a{
    color: white;
}


/* About Section */


.about-section{
    background-color: #87a471;
    padding: 50px 0;
    color: white;
}
.about-content{
    float: left;
    width: 50%;
    margin: 100px 0 0 50px;
}
.about-image{
    float: right;
    width: 30%;
    margin-top: 10px;
}
.about-image img{
    max-width: 300px;
}

/* Card Section */

.card-section{
    background-color: #606a64;
    padding: 50px 0;
}
.about-1{
    width: 700px;
    margin: auto;
    color: #e8dfda;
}
.about-1 h1{
    margin: 20px 0;
}
.about-1 p{
    margin-bottom: 50px;
}
.card{
    width: 22%;
    float: left;
    background-color: #fff;
    margin-left: 130px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
}
.card .card1{
    float: left;
    height: 150px;
    margin-right: 15px;    
}

.card .card2 h4{
    margin-bottom: 10px;
    color: #4a6580;
    font-size: 19px;
}
.card .card2 p{
    color: #bcc4ce;
}

/* Our Work Section  */

.our-work{
    background-color: #87a471;
    padding: 100px 0;
}
.our-work h1{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.our-work p{
    text-align: center;
    color: #e2e3e0;
    margin-bottom: 30px;
}
.work-left{
    width: 48%;
    float: left;
    border: 1px solid #fff;
    margin-top: 40px;
    
}
.work-left img{
    width: 100%;  
}
.work-left h4{
    line-height: 40px;
    color: #4f6985;
}
.work-left p{}
.work-right{
    width: 48%;
    float: right;
    border: 1px solid #fff;
    margin-top: 40px;
}
.work-right img{
    width: 100%;
}
.work-right h4{
    line-height: 40px;
    color: #4f6985;
}
.work-image{
    float: left;
    width: 25%;
    margin-top: 50px; 
}
.work-image img{
   max-width: 100%;
}

/* My Team */

.my-team{
   background-color:  #5b9776;
   padding: 50px;
}
.team{
    width: 33%;
    float: left;
    margin-top: 50px;
    text-align: center;
}
.team ul{
    list-style: none;
}
.team ul li{
    display: inline-block;
}
.team ul li a{
    display: inline-block;
    color: #fff;
    font-size: 35px;
    padding: 0 10px;
    transition: .5s;
}
.team ul li a:hover{
    color: #5c6f8a;
}

/* Touch-section */

.touch-section{
    background-color: #606a64;
    padding: 100px 0;
}
.touch-1{
    width: 600px;
    margin: auto;
}
.touch-1 h1{
    color: white;
}
.touch-1 p{
    color: #bcc4ce;
    margin: 20px 0;
}
.touch-button{
    background-color: #00bc9c;
    display: inline-block;
    transition: .5s;
    border-radius: 5px;
}
.touch-button a{
    display: inline-block;
    padding: 10px 30px;
    color: white;
}
.touch-button:hover{
    background-color: #465e76;
}
.footer {
    background-color: black;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.781);
}